﻿body {
    background-color: #e7e7e7;
}
#AmountArticles {
    width: 65px;
    height: 30px;
    padding: 3px;
}
#selectArticle {
    padding: 10px;
    position: absolute;
} 
.cb-mask {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
}

img {
    width: 100%;
}

.cb-meta {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 15px;
}

.cb-post-title a {
    color: black;
}

#filtermenu {
    background: black;
    color: white;
    padding: 0px;
    position: fixed;
    top: 0px;
    z-index: 10;
    width: 100%;
}

#ShowFrame {
    margin-top: 75px;
}

.Categories {
    display: inline-block;
    position: relative;
    text-decoration: none;
    list-style: none;
    background-color: black;
    margin: 0;
    padding: 10px;
}

.dropdown {
    display: none;
    position: absolute;
    background: black;
    margin-top: 10px;
}

.dropdown li {
    padding: 10px;
    min-width: 220px;
    }

.Categories:hover {
    background-color: #07617c;
}

li:hover {
    background-color: #07617c;
}

.Categories:hover .dropdown {
    display: block;
}
input {
    float: right;
}
/* Free thought*/
.entry-title {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    margin-bottom: 0;
    padding: 10px;
}
.entry-title a {
color:black;
}
.td-excerpt {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    margin-bottom: 15px;
    padding: 10px;
}
/*Greenmedinfo*/
.views-field {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;

}
.views-field-field-front-page-body-value {
    padding: 10px;
    margin-bottom:15px;
}
.views-field-field-front-page-image-fid img{
    height:250px;
}
.views-field-title, .views-field-phpcode-1 {
    padding: 10px;
}
.views-field-title a {
    color: black;
    font-size: 30px;
    font-weight: bold;
}
/*Spinner*/
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}
